/mooc-2013-OOProgrammingWithJava-PART1/week1-002.HelloWorld/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-003.Spruce/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-003.Spruce/dist/
/mooc-2013-OOProgrammingWithJava-PART1/week1-004.ChangingVariables/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-004.ChangingVariables/dist/
/mooc-2013-OOProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-006.Addition/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-007.Multiplication/build/